html,
body {
    height: 100%;
    margin: 0;
    color: rgb(102, 102, 102);
}

#content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(239, 239, 239);
    padding: 0;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid rgb(119, 119, 119);
}

header>h3 {
    padding: 4px;
    margin: 0px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 24px;
    height: 24px;
    /* border-radius: 50%; */
    background-color: inherit;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}


#user-interface{
    flex: 1;
    display: flex;    
}

#left {
    width: 300px;
    background-color: rgb(239, 239, 239);
    border-right: 1px solid rgb(119, 119, 119);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#right {
    flex: 1;
    border-top: 1px solid rgb(119, 119, 119);
}

#user-input-containers,
#variables-input-containers {
    max-height: 50%;
    overflow: auto;
    background-color: rgb(239, 239, 239);
    border-top: 1px solid rgb(119, 119, 119);
    border-bottom: 1px dashed rgb(119, 119, 119);
}

#graph-canvas {
    border-right: 1px solid;
    border-bottom: 1px solid;
    background-color: white;
}

.expression-container,
.variable-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    background-color: white;
    margin: 2px;
    padding: 6px;
    /* width: 600px; */
}

.expression-container>div,
.variable-container>div {
    width: 100%;
    display: flex;
}

.expression-container>div>*,
.variable-container>div>* {
    margin: 1px 2px;
}

.expression-container__function,
.variable-container__value,
.variable-container__range {
    flex: 1;
}

.variable-container__limit {
    width: 40px;
}

.expression-container__close:hover{
    color: red;
    cursor: pointer;
}

.floatBlock {
    min-width: 20px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid rgb(119, 119, 119);
    box-shadow: rgb(85, 85, 85) 4px 4px 4px;
    color: rgb(102, 102, 102);
    background-color: rgb(239, 239, 239);
    opacity: 1;
    z-index: 1100;
    text-align: left;
    max-width: 200px;
    visibility: visible;
    position: absolute;
    display: none;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: inherit;
    border-bottom: 1px dashed rgb(119, 119, 119);
    margin: 0px 2px;
}